@{
    ViewBag.title = "待确认订单";
}
<div id="vUnConfirmedList" v-cloak class="tab_content">
    <div class="query_wrap" ref="viewBox1" v-on:scroll="ss('viewBox1')">
        <div class="clearfix">
            <div class="fl">
                <div class="title label-style">型号:</div>
                <el-input class="input-style" style="width:180px;" size="mini" v-model="PartNumber" @@keyup.enter.native="queryData"></el-input>
            </div>
            <div class="fl ml8">
                <div class="title label-style">订单号:</div>
                <el-input class="input-style" style="width:180px;" size="mini" v-model="OrderID" @@keyup.enter.native="queryData"></el-input>
            </div>
            <div class="fl ml8">
                <div class="title label-style">供应商:</div>
                <el-input class="input-style" style="width:180px;" size="mini" v-model="Supplier" @@keyup.enter.native="queryData"></el-input>
            </div>

            <div class="fr">
                <button v-on:click="queryData" class="btn btn1">查询</button>
                <button v-on:click="clearData" class="btn btn2 ml12">重置</button>
            </div>
        </div>
        <div class="clearfix mt20">
            <div class="fl">
                <div class="title label-style">货物来源:</div>
                <el-select style="width:180px;" class="mr16 input-style" size="small" v-model="OrderType" filterable clearable>
                    <el-option v-for="item in OrderTypeOptions"
                               :key="item.value"
                               :label="item.text"
                               :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="fl ml8">
                <div class="title label-style">下单日期:</div>
                @*<el-date-picker style="width:220px;" size="small" v-model="dataValue"
                            type="daterange"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
            </el-date-picker>*@
                <date-picker-daterange ref="datePickerDaterange" class="fl"></date-picker-daterange>
            </div>
        </div>
    </div>
    <div class="tb_wrap" v-loading="loading">
        <table class="common_tb1 mt30">
            <tr>
                <th width="36px">序号</th>
                <th width="90px">下单日期</th>
                <th width="155px">订单编号</th>
                <th width="190px">供应商</th>
                <th width="70px">订单类型</th>
                <th width="50px">交易币种</th>
                <th width="75px">总金额</th>
                <th width="70px">关税</th>
                <th width="70px">增值税</th>
                <th width="70px">代理费</th>
                <th width="70px">杂费</th>
                <th width="35px">操作</th>
            </tr>
            <tr v-for="(item,index) in indexData.dataList">
                <td>{{(indexData.pageIndex-1)*indexData.pageSize+index+1}}</td>
                <td>{{item.CreateDateDateString}}</td>
                <td>{{item.ID}}</td>
                <td>{{item.SupplierName}}</td>
                <td>{{item.OrderType}}</td>
                <td>{{item.Currency}}</td>
                <td>{{item.TotalPrice}}</td>
                <td>{{item.TotalTraiff}}</td>
                <td>{{item.TotalAddTax}}</td>
                <td>{{item.TotalAgencyFee}}</td>
                <td>{{item.TotalInspectionFee}}</td>
                <td class="operate"><a v-on:click="confirm(item)">确认</a></td>
            </tr>
            <tr v-if="indexData.dataList.length==0"><td colspan="13" style="height:500px"><img src="/Content/hxt_img/list_nodata.png" style="height:64px;width:87px;" /><label style="display: block; color: currentcolor;">暂无数据</label></td></tr>

        </table>
        <div class="foot">
            <el-pagination class="fr" style="margin-top:20px;" v-on:size-change="handleSizeChange"
                           v-on:current-change="handleCurrentChange"
                           :current-page="indexData.pageIndex"
                           :page-sizes="[10, 20, 50, 100]"
                           :page-size="indexData.pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="indexData.total">
            </el-pagination>
        </div>
    </div>
</div>
<style>
    .label-style {
        width: 60px;
        float: left;
        margin-top: 6px;
    }

    .input-style {
        width: 180px !important;
    }
</style>
@{Html.RenderAction("_DatePickerDateRange", "Home");}
<script type="text/javascript">
    var vUnConfirmedList = new Vue({
        el: "#vUnConfirmedList",
        data: function () {
            return {
                indexData: {
                    pageIndex: 1, //初始页
                    pageSize: 10,    //每页的数据
                    total: 0,
                    scrollTop: 0, //滚动条位置
                    dataList: [],
                },
                dataValue: "",
                startDate: "",
                endDate: "",
                OrderID:"",
                Supplier:"",
                PartNumber: "",
                OrderType:"",
                OrderTypeOptions:[],
                loading:false,
            }
        },
        mounted: function () {
            this.OrderTypeOptions = @Html.Raw(Json.Encode(@ViewBag.OrderTypeOptions));
            this.$refs.datePickerDaterange.orderDateSimpleBtnClicked('全部');
            this.init();
        },
        methods: {
            init: function () {
                var that = this;
                var userJsonStr = sessionStorage.getItem('vUnConfirmedList');
                userEntity = JSON.parse(userJsonStr);
                if (userEntity == null) {
                    that.queryData(); // that.paging();
                } else {
                    that.indexData = userEntity;
                    that.queryData(); // that.paging();
                    that.$nextTick(function () {
                        that.$refs['viewBox1'].scrollTop = that.indexData.scrollTop;
                    })
                    sessionStorage.removeItem('vUnConfirmedList');
                }
            },
            //报关订单确认详情
            confirm: function(item){
                //是否为转报关
                if(item.IsTransfer){
                    commonSkipUrl(item.ID, '/Declare/TransDecConfirm',"/" + "@(ViewContext.RouteData.Values["controller"].ToString())"
                                                                    + "/" + "@(ViewContext.RouteData.Values["action"].ToString())");
                }
                else{
                    commonSkipUrl(item.ID, '/Declare/DeclareConfirm',"/" + "@(ViewContext.RouteData.Values["controller"].ToString())"
                                                                   + "/" + "@(ViewContext.RouteData.Values["action"].ToString())");
                }
            },
            ss: function (ref) {
                // 监听这个dom的scroll事件
                var that = this;
                this.$refs[ref].addEventListener('scroll', function () {
                    that.indexData.scrollTop = that.$refs[ref].scrollTop;
                }, false)
            },
            //查询数据
            queryData: function () {
                this.dataValue = this.$refs.datePickerDaterange.getDataValue();
                if (this.dataValue != "" && this.dataValue != null) {
                    var start = new Date(this.dataValue[0]);
                    var startDate = start.getFullYear() + '-' + (start.getMonth() + 1) + '-' + start.getDate();
                    var end = new Date(this.dataValue[1]);
                    var endDate = end.getFullYear() + '-' + (end.getMonth() + 1) + '-' + end.getDate();
                    this.startDate = startDate;
                    this.endDate = endDate;
                } else {
                    this.startDate = "";
                    this.endDate = "";
                }
                this.indexData.pageIndex = 1;
                this.paging();
            },
            //重置数据
            clearData: function () {
                this.$refs.datePickerDaterange.orderDateSimpleBtnClicked('全部');
                // this.dataValue = "";
                this.startDate = "";
                this.endDate = "";
                this.OrderID = "";
                this.Supplier = "";
                this.PartNumber = "";
                this.OrderType = "";
                this.indexData.pageIndex = 1;
                this.indexData.pageSize = 10;
                this.queryData();  // this.paging();
            },
            //初始页currentPage、初始每页数据数pagesize和数据data
            handleSizeChange: function (size) {
                this.indexData.pageSize = size;
                this.paging();
            },
            handleCurrentChange: function (currentPage) {
                this.indexData.pageIndex = currentPage;
                this.paging();
            },
            paging: function () {
                var that = this;
                that.loading = true;
                axios({
                    url: "/Declare/GetUnConfirmedList",
                    method: "post",
                    data: {
                        page: this.indexData.pageIndex,
                        rows: this.indexData.pageSize,
                        startDate: this.startDate,
                        endDate: this.endDate,
                        OrderID: this.OrderID,
                        Supplier: this.Supplier,
                        PartNumber: this.PartNumber,
                        OrderType: this.OrderType
                    },
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    transformRequest: [function (data) {
                        var ret = '';
                        for (var it in data) {
                            ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&';
                        }
                        return ret;
                    }]
                }).then(function (response) {
                    var data = JSON.parse(response.data.data);
                    that.indexData.dataList = data.list;
                    that.indexData.total = data.total;
                    that.loading = false;
                }).catch(function (error) {
                    that.onAlert("warning", "系统发生错误，请稍后重试或联系客服");
                });
            },
            //消息提示框
            onAlert: function (type, message) {
                this.$message({
                    message: message,
                    type: type,
                    offset:100
                });
            }
        }
    });

</script>
