<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>华芯通-数智跨境供应链平台</title>
    <meta name="keywords" content="华芯通">
    <meta name="description" content="数智跨境供应链平台">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/hxt_img/logo_icon_big.ico">
    <link href="~/Content/css/element.css" rel="stylesheet" />
    <link href="~/Content/css/common.css?a=20221110_1040" rel="stylesheet" />
    <link href="~/Content/css/style.css?a=20221110_1040" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/elementui.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/Shared/Common.js?a=20221110_1040"></script>
    @*<script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>*@

</head>
<body>
    <div class="sidebar" style="display: none;">
        <div>
            <div id="customer" v-cloak v-on:mouseover="toggleKFShow" v-on:mouseleave="toggleKFhide">
                <a class="fr cus_icon cus_expand">专属客服</a>
                <div class="fr cus_list" v-show="kfShow">
                    <ul style="display: @(!string.IsNullOrEmpty(ViewBag.ServiceManagerName) ? "inherit" : "none");">
                        <li class="first">
                            <i></i>
                            <span>@ViewBag.ServiceManagerName 业务经理</span>
                        </li>
                        <li>
                            <div style="float:left;"><img src="~/Content/img/icon_email_wihte.png"></div>
                            <span id="service-manager-email">@ViewBag.ServiceManagerEmail</span>
                        </li>
                        <li>
                            <div style="clear:both;">
                                <img src="~/Content/img/icon_phone_white.png">
                                <span id="service-manager-phone">@ViewBag.ServiceManagerPhone</span>
                            </div>
                        </li>
                    </ul>
                    <ul style="border-bottom: none;">
                        <li class="first">
                            <i></i>
                            <span>@(!string.IsNullOrEmpty(ViewBag.MerchandiserName) ? ViewBag.MerchandiserName + " 跟单员" : "")</span>
                        </li>
                        <li style="position: relative;height:24px;">
                            @{
                                if (!string.IsNullOrEmpty(ViewBag.MerchandiserName))
                                {
                                    <div style="float:left;"><img src="~/Content/img/icon_email_wihte.png"></div>
                                    <span id="merchandiser-email">@ViewBag.MerchandiserEmail</span>
                                }
                                else
                                {
                                    @*<img src="~/Content/img/icon_qq_wihte.png">*@
                                    <div style="position: absolute; top: -10px; left: 33px;">
                                        <a href="http://wpa.qq.com/msgrd?v=1&uin=3008786186&site=b1b.com&menu=yes" style="color:white;">QQ1:3008786186</a>
                                    </div>
                                    <div style="position: absolute; top: 7px; left: 33px;">
                                        <a href="http://wpa.qq.com/msgrd?v=1&uin=3008785992&site=b1b.com&menu=yes" style="color:white;">QQ2:3008785992</a>
                                    </div>
                                }
                            }
                        </li>
                        <li>
                            @{
                                if (!string.IsNullOrEmpty(ViewBag.MerchandiserName))
                                {
                                    <div style="clear:both;">
                                        <img src="~/Content/img/icon_phone_white.png">
                                        <span id="merchandiser-phone">@ViewBag.MerchandiserPhone</span>
                                    </div>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
            <div id="phone" v-cloak v-on:mouseover="togglePHShow" v-on:mouseleave="togglePHhide">
                <a href="javascript:;" class="fr cus_icon">
                    <i class="n_sidebar_i"></i>
                    <p class="n_text">全国热线</p>
                </a>
                <div class="fr n_sidebar_expand cus_list" v-show="phShow">
                    <i class="n_se_arrow"></i>
                    <div class="n_se_con">
                        <p>服务热线：</p>
                        <span>0755-29360458</span>
                    </div>
                </div>
            </div>
            <div id="wechat" v-cloak v-on:mouseover="toggleWCShow" v-on:mouseleave="toggleWChide">
                <a href="javascript:;" class="fr cus_icon">
                    <i class="n_sidebar_i"></i>
                    <p class="n_text">公众号</p>
                </a>
                <div class="fr n_sidebar_expand n_se_gongzh cus_list" v-show="wcShow">
                    <i class="n_se_arrow"></i>
                    <div class="n_se_con">
                        <img src="/Content/img/n_erweima.png" />
                        <p>扫码关注官方微信</p>
                        <span>华芯通</span>
                    </div>
                </div>
            </div>
            <div id="advise">
                <a href="@System.Configuration.ConfigurationManager.AppSettings["DomainForIC"]/?id=advise" target="_blank" class="fr cus_icon">
                    <i class="n_sidebar_i"></i>
                    <p class="n_text">意见反馈</p>
                </a>
            </div>
            <div id="totop" v-on:click="return_top">
                <a href="javascript:;" class="fr cus_icon">
                    <i class="n_sidebar_i"></i>
                    <p class="n_text">返回顶部</p>
                </a>
            </div>
        </div>
    </div>
    <script>
        var sidebar = new Vue({
            el: ".sidebar",
            data: {
                kfNum: 0, //客服图标显示
                kfShow: false, //客服列表显示与隐藏
                phShow: false,
                wcShow: false
            },
            methods: {
                toggleKFShow: function () {
                    this.kfShow = true;
                    this.setSidebarDivPaddingLeft('157px');
                },
                toggleKFhide: function () {
                    this.kfShow = false;
                    this.setSidebarDivPaddingLeft(0);
                },
                togglePHShow: function () {
                    this.phShow = true;
                    this.setSidebarDivPaddingLeft('157px');
                },
                togglePHhide: function () {
                    this.phShow = false;
                    this.setSidebarDivPaddingLeft(0);
                },
                toggleWCShow: function () {
                    this.wcShow = true;
                    this.setSidebarDivPaddingLeft('157px');
                },
                toggleWChide: function () {
                    this.wcShow = false;
                    this.setSidebarDivPaddingLeft(0);
                },
                return_top: function () {
                    $("body,html").animate({ scrollTop: 0 }, 500);
                    return false;
                },
                createNode: function (txt) {
                    const template = `<div class='child'>${txt}</div>`;
                    let tempNode = document.createElement('div');
                    tempNode.innerHTML = template;
                    return tempNode.firstChild;
                },
                addDivTab: function (strIdName) {
                    var $email = document.getElementById(strIdName);
                    var newstr = $email.innerHTML.replace(/(?=)/g, '</div><div style="float:left;">').replace(/^<\/div>/g, '').replace(/<div style="float:left;">$/g, '');
                    $email.innerHTML = "";
                    $email.appendChild(this.createNode(newstr));
                },

                // 设置 .sidebar > div 的 padding-left
                setSidebarDivPaddingLeft(paddingLeft) {
                    $(".sidebar > div").css("padding-left", paddingLeft);
                },
            },
            mounted: function () {
                this.addDivTab("service-manager-email");
                this.addDivTab("merchandiser-email");
                this.setSidebarDivPaddingLeft(0);
            },
        });
    </script>
    <div class="sidebar-small">
        <div>
            <img src="~/Content/img/sidebar_small.png" />
        </div>
    </div>
    <script src="~/Scripts/simple.queue.js"></script>
    <script>
        function getCurrentInDivStatus() {
            if (inDivQueue.size() <= 0) {
                return null;
            }

            var first = inDivQueue.get(0);
            for (var i = 0; i < inDivQueue.size(); i++) {
                if (first != inDivQueue.get(i)) {
                    return null;
                }
            }

            return first;
        }


        var inDivQueue = new Queue();
        var INDIV_QUEUE_LEN = 4;
        var COMFORTABLE_WIDTH = 1380;

    </script>
    <div>
        <div class="head">
            <div class="w1200 head_inner clearfix">
                <a class="fl logo" href="@System.Configuration.ConfigurationManager.AppSettings["DomainForIC"]"></a>
                <div class="fr back">
                    <a href="/Home/LoginOut"><i></i>退出</a>
                </div>
                <div class="fr user">
                    <div title="@Html.Raw(ViewBag.UserName)">@Html.Raw(ViewBag.UserName)</div>
                </div>
            </div>
        </div>
        <div class="main_body w1200 clearfix">
            <div class="left_list fl">
                <div id="list" v-cloak>
                    <h2>
                        <a href="/Home/Index">首页</a>
                    </h2>
                    <div class="site_list">
                        <dl v-for="(item,index) in lists">
                            <dt class="clearfix" v-on:click="toggleList(item)">
                                <i class="icon"></i>{{item.title}}
                                <i class="fr icon_toggle" :class="{'icon_toggle_up':!item.isShow}"></i>
                            </dt>
                            <dd v-on:mouseenter="showNewList(i,opt)" v-on:mouseleave="hideNewList(opt)" :class="{'current':i==active&&index==aa||opt.sonItems&&opt.newStatus===i}" v-for="(opt,i) in item.options" @*:class="{'current':curID==opt.navID||opt.sonItems&&opt.newStatus===i}"*@ v-show="item.isShow" class="defaultOpt">
                                <a :href="opt.url">{{opt.text}}</a>
                                @*<i class="list_tip_num" v-if="opt.count!=null">{{opt.count}}</i>*@
                                <ul class="list_add" v-if="opt.sonItems&&opt.newStatus===i">
                                    <li v-for="(m,n) in opt.sonItems">
                                        <a :href="m.url"><i></i>{{m.text}}</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <script>
                var list = new Vue({
                    el: "#list",
                    data: {
                        active: '',
                        aa: '',
                        currenturl: "/" + "@(ViewContext.RouteData.Values["controller"].ToString())"
                                  + "/" + "@(ViewContext.RouteData.Values["action"].ToString())",
                        lasturl: '@ViewBag.lasturl',
                        lists: [
                            @if((ViewBag.IsCustoms == false && ViewBag.IsWarehouse == false) || ViewBag.IsCustoms)
                            {
                                <text>
                                {
                                    isShow: true,
                                    title: @if (ViewBag.HasExport == false) {
                                    <text>'委托进口'</text>
                                    }
                                    else {
                                   <text>'委托进出口'</text>
                                    } ,
                                    options: [
                                        {
                                        text: '进口下单',
                                            url: '/Declare/DeclareAdd',
                                            navID: 'DeclareAdd'
                                        }, {
                                        text: '进口订单',
                                            url: '/Declare/DeclareList',
                                            navID: 'DeclareList'
                                        },
                                    ]
                                },
                                </text>
                            }

                            @if ((ViewBag.IsCustoms == false && ViewBag.IsWarehouse == false) || ViewBag.IsWarehouse)
                            {
                                <text>
                                {
                                    isShow: true,
                                    title: '香港仓储',
                                    iconClass: 'icon2',
                                    options: [
                                        {
                                            text: '香港收货',
                                            url: '/Orders/StorageAdd'
                                        }, {
                                            text: '香港发货',
                                            url: '/Orders/DeliveryAdd'
                                        }, {
                                            text: '订单列表',
                                            url: '/Orders/ReceivedList'
                                        }
                                    ]
                                },
                                </text>
                            }

                            {
                                isShow: true,
                                title: '库存管理',
                                iconClass: 'icon3',
                                options: [
                                    {
                                        text: '我的库存',
                                        url: '/Storages/MyStorage'
                                    },
                                    {
                                        text: '入库记录',
                                        url: '/Storages/InStorage'
                                    }, {
                                        text: '出库记录',
                                        url: '/Storages/OutStorage'
                                    }, {
                                        text: '仓库地址',
                                        url: '/Account/StorageInfo'
                                    }
                                ]
                            },


                            {
                                isShow: true,
                                title: '我的财务',
                                iconClass: 'icon4',
                                options: [
                                    @if ((ViewBag.IsCustoms == false && ViewBag.IsWarehouse == false) || ViewBag.IsCustoms)
                                    {
                                        <text>
                                            {
                                                text: '未付汇清单',
                                                url: '/PayExchange/UnPayExchange'
                                            }, {
                                                text: '我的付汇',
                                                url: '/PayExchange/MyApplies'
                                            },
                                        </text>
                                    }

                                    @if ((ViewBag.IsCustoms == false && ViewBag.IsWarehouse == false) || ViewBag.IsWarehouse)
                                    {
                                        <text>
                                            {
                                                text: '代付款',
                                                url: '/Orders/ReceivedApplyList'
                                            }, {
                                                text: '代收款',
                                                url: '/Orders/DeliveryApplyList'
                                            },
                                        </text>
                                    }

                                    @if ((ViewBag.IsCustoms == false && ViewBag.IsWarehouse == false) || ViewBag.IsCustoms)
                                    {
                                        <text>
                                        {
                                            text: '报关对账',
                                            url: '/Bills/DeclareBills'
                                        },
                                        </text>
                                    }

                                    @if ((ViewBag.IsCustoms == false && ViewBag.IsWarehouse == false) || ViewBag.IsWarehouse)
                                    {
                                        <text>
                                        {
                                            text: '仓储对账',
                                            url: '/Bills/WarehouseBills'
                                        },
                                        </text>
                                    }

                                    {
                                        text: '我的发票',
                                        url: '/Bills/MyInvoices'
                                    },
                                     @if ((ViewBag.IsCustoms == false && ViewBag.IsWarehouse == false) || ViewBag.IsCustoms)
                                     {
                                         <text>
                                         {
                                             text: '海关缴款书',
                                             url: '/Bills/MyCusInvoices'
                                         },
                                         </text>
                                     }
                                ]
                            },


                            {
                                isShow: true,
                                title: '产品中心',
                                iconClass: 'icon6',
                                options: [
                                    {
                                        text: '我的产品',
                                        url: '/Products/MyPreProducts'
                                    }
                                ]
                            },

                                   {
                                isShow: true,
                                title: '供应商管理',
                                iconClass: 'icon6',
                                options: [
                                    {
                                        text: '我的供应商',
                                        url: '/Account/MySuppliers'
                                    }
                                ]
                            }, {
                                isShow: true,
                                title: '会员信息',
                                iconClass: 'icon7',
                                options: [
                                    {
                                        text: '公司资料',
                                        url: '/Account/BaseInformations'
                                    }, {
                                        text: '服务协议',
                                        url: '/Account/Agreement'
                                    }, {
                                        text: '收货地址',
                                        url: '/Account/MyConsignees'
                                    }, {
                                        text: '账号管理',
                                        url: '/Account/SecurityCenter'
                                    }
                                ]
                            }
                        ]

                    },
                    methods: {
                        //左侧列表小三角控制显示隐藏
                        toggleList: function(item) {
                            item.isShow = !item.isShow;
                        },
                        showNewList: function(i, opt) {
                            opt.newStatus = i;
                        },
                        hideNewList: function(opt) {
                            opt.newStatus = -1;
                        }
                    },
                    mounted: function () {
                        var bingo = 0;
                        if(this.lasturl != null && this.lasturl != undefined && this.lasturl != '') {
                            for(iaa = 0; iaa < this.lists.length; iaa++) {
                                if(bingo == 1) {
                                    break;
                                }
                                for(jactive = 0; jactive < this.lists[iaa].options.length; jactive++) {
                                    if(this.lasturl == this.lists[iaa].options[jactive].url) {
                                        this.active = jactive;
                                        this.aa = iaa;
                                        bingo = 1;
                                        break;
                                    }
                                }
                            }
                        }

                        for(iaa = 0; iaa < this.lists.length; iaa++) {
                            if(bingo == 1) {
                                break;
                            }
                            for(jactive = 0; jactive < this.lists[iaa].options.length; jactive++) {
                                if(this.currenturl == this.lists[iaa].options[jactive].url) {
                                    this.active = jactive;
                                    this.aa = iaa;
                                    bingo = 1;
                                    break;
                                }
                            }
                        }
                        if(bingo == 0) {
                            this.active = -1;
                            this.aa = -1;
                        }

                    }
                })
                </script>
            </div>
            <div class="right_content fl">
                <div class="break_nav" id="break_nav">
                    <el-breadcrumb class="ml20" separator-class="el-icon-arrow-right" style="width: 72%; float: left;">
                        <el-breadcrumb-item>
                            <span class="icon_home mr3"></span><a href="/">首页</a>
                        </el-breadcrumb-item>
                        <!--菜单目录-->
                        <el-breadcrumb-item v-if="menuIndex>-1">
                            <span>{{menuList[menuIndex].title}}</span>
                        </el-breadcrumb-item>
                        <!--菜单名称-->
                        <el-breadcrumb-item v-if="subIndex>-1">
                            <a v-if="subTitle!=''" :href="menuList[menuIndex].options[subIndex].url">{{menuList[menuIndex].options[subIndex].text}}</a>
                            <span v-else>{{menuList[menuIndex].options[subIndex].text}}</span>
                        </el-breadcrumb-item>
                        <!--子菜单-->
                        <el-breadcrumb-item v-if="subTitle!=''">
                            <span>{{subTitle}}</span>
                        </el-breadcrumb-item>
                    </el-breadcrumb>

                </div>
                <script>
                var break_nav = new Vue({
                    el: "#break_nav",
                    data: function() {
                        return {
                            menuList: list.lists,
                            menuIndex: list.aa,
                            subIndex: list.active,
                            title: '@ViewBag.title',
                            subTitle: '@ViewBag.subTitle',
                        }
                    },
                    methods: {
                    },
                    mounted: function() {
                    }
                });
                </script>
                <div class="p20">
                    @RenderBody()
                </div>

            </div>

        </div>
        <!--底部-->
        <footer id="footer">
          
            <div class="footer_bottom">
                <span>©️2024深圳市华芯通供应链管理有限公司 版权所有 - 隐私权政策 - 使用条款</span>
                <div style="align-items: center; margin: 0 auto; ">
                    <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" style="color: #fff;">粤ICP备2024260250号</a>
                    <img src="/Content/img/gonganlogo.png" style="margin-top: -3px;" />
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030002004130" target="_blank" style="color: #fff;">粤公网安备44030002004130号</a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
